.form-builder-field {
    background: #FFF;
    border-top: 5px solid transparent;
    margin: 8px 6px 0;
    outline: none;
    padding: 10px;
    position: relative;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px #c4c4c4;
    box-shadow: 0 1px 2px #c4c4c4;
    background-color: #fff;
}

.form-builder-field label {
    float: left;
    margin-right: 5px;
}

.form-builder-field .form-builder-field-node {
    clear: both;
    display: block;
}

.form-builder-field-hover {
    border-color: #ccc;
}

.form-builder-field-selected {
    border-color: #76a7fa;
}
/* Field icons */
.form-builder-field-icon {
    background-position: center center;
    background-repeat: no-repeat;
}

.form-builder-field-icon:before {
    font-family: 'property-builder-icons';
    font-size: 200%;
}

.form-builder-field-icon-button:before {
    content: "\e010";
}

.form-builder-field-icon-checkbox:before {
    content: "\e008";
}

.form-builder-field-icon-default:before {
    content: "\e012";
}

.form-builder-field-icon-fieldset:before {
    content: "\e011";
}

.form-builder-field-icon-fileupload:before {
    content: "\e015";
}

.form-builder-field-icon-integer:before {
    content: "\e005";
}

.form-builder-field-icon-number:before {
    content: "\e004";
}

.form-builder-field-icon-radio:before {
    content: "\e003";
}

.form-builder-field-icon-select:before {
    content: "\e002";
}

.form-builder-field-icon-separator:before {
    content: "\e013";
}

.form-builder-field-icon-text:before {
    content: "\e000";
}

.form-builder-field-icon-textarea:before {
    content: "\e001";
}
